@font-face {
  font-family: 'SFUI';
  src: url('./assets/SF-Compact-Rounded-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'SFUI', sans-serif;
}